<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="dbConnString" connectionString="Data Source=MUADDIB-PC\SQLEXPRESS;Initial Catalog=DragonQuest;User id=DragonQuestDBUser;password=dragons123;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.serviceModel>

        <services>
            <service name="RestService.IDragonQuestService" behaviorConfiguration="ServiceBehaviour">
                <endpoint address ="" binding="webHttpBinding" contract="RestService.IIDragonQuestService" behaviorConfiguration="web">

                </endpoint>

            </service>

        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviour">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>

            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>

        </behaviors>


        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
